body {
  background-image: linear-gradient(to top right, #61d9de, #e739f5);
  min-height: 100vh;
}

form {
  max-width: 450px;
}
form .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: white;
  outline: none;
}
form .form-control:focus {
  border-color: unset;
  outline: none;
  box-shadow: unset;
}
form .btn {
  background-image: linear-gradient(to right, #61d9de, #e739f5);
  border-color: white;
}
form .btn:hover, form .btn:focus, form .btn:active {
  background-image: linear-gradient(to right, #61d9de, #e739f5);
  border-color: white;
}
